* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
@font-face {
    font-family: WhiteDream;
    src: url(/recursos/tipografias/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

@font-face {
    font-family: romantic;
    src: url(/recursos/tipografias/ROMANTIC.TTF);
}

/*----------------------------------------*/

#logoHeader {
    width: auto;
    height: 100%;
}

body {
    color: #222;
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 80px;
}

/*----------------------------------------*/

#banners {
    position: relative;
    width: 100%;
}

#banners img {
    width: 100%;
    height: auto;
    display: block;
}

/*----------------------------------------*/

#contenido {
    width: 100%;
    color: black;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;


    place-items: center;
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas:
        "img texto"
}

#contenido h2 {
    font-family: WhiteDream;
    font-size: 3.5em;
}

.perfil {
    width: 70%;
}

.texto {
    text-align: justify;
    justify-content: left;
    align-items: left;
    width: 90%;
}

.texto p {
    font-size: 1.2em;
}

#contenido img {
    width: 75%;
    margin-left: 150px;
    border: #000 solid 5px;
}

.texto a {
    text-decoration: none;
}

.texto button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.texto button:hover {
    background-color: #6563f5;
}

/*----------------------------------------*/

#content {
    align-items: center;
    justify-content: center;
    background-color: #010058;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
}

.mision,
.vision {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mision h1,
.vision h1 {
    font-family: WhiteDream;
    font-size: 3.5em;
}

.mision p,
.vision p {
    line-height: 1.5;
    font-size: 1.2em;
}

.imagen {
    grid-row: 1 / 3;
    grid-column: 2;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .imagen {
        grid-row: auto;
        grid-column: auto;
        height: 300px;
    }
}