* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
@font-face {
    font-family: WhiteDream;
    src: url(/recursos/tipografias/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

@font-face {
    font-family: romantic;
    src: url(/recursos/tipografias/ROMANTIC.TTF);
}

/*----------------------------------------*/

body {
    color: #222;
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 80px;
}

/*----------------------------------------*/

#banners {
    position: relative;
    width: 100%;
}

#banners img {
    width: 100%;
    height: auto;
    display: block;
}

/*----------------------------------------*/

#contenido {
    width: 100%;
    color: black;
    padding: 50px 5%;
    background-color: white;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
}

#contenido h2 {
    font-family: WhiteDream;
    font-size: 3.2em;
    margin-bottom: 20px;
}

.perfil {
    display: flex;
    justify-content: center;
}

#contenido img {
    width: 85%;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*----------------------------------------*/
/* TEXTO */
.texto {
    text-align: justify;
}

.texto p {
    font-size: 1.2em;
}

.texto button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.texto button:hover {
    background-color: #6563f5;
    transform: translateY(-3px);
}

/*----------------------------------------*/

#content {
    background-color: #010058;
    padding: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
}

.mision,
.vision {
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.mision h1,
.vision h1 {
    font-family: WhiteDream;
    font-size: 3em;
    margin-bottom: 10px;
}

.mision p,
.vision p {
    font-size: 1.2em;
    line-height: 1.5;
}


.imagen {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
}

.imagen img {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .imagen {
        grid-row: auto;
        grid-column: auto;
        height: 300px;
    }
}