* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
@font-face {
    font-family: WhiteDream;
    src: url(/recursos/tipografias/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

@font-face {
    font-family: romantic;
    src: url(/recursos/tipografias/ROMANTIC.TTF);
}

/*----------------------------------------*/

#logoHeader {
    width: auto;
    height: 100%;
}

/*----------------------------------------*/

body {
    color: #222;
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 80px;
}

/*----------------------------------------*/

#banners {
    position: relative;
    width: 100%;
}

#banners img {
    width: 100%;
    height: auto;
    display: block;
}

/*----------------------------------------*/

#formSimulacion h2 {
    font-family: WhiteDream;
    text-align: center;
    justify-content: center;
    font-size: 3.2em;
}

#formulario-contacto {
    max-width: 650px;
    margin: 60px auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;

    border: 3px solid #010058;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

label {
    font-weight: 700;
    color: #010058;
}

input,
select,
textarea {
    padding: 12px;
    border: 2px solid #6563f5;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #010058;
    box-shadow: 0 0 8px rgba(1, 0, 88, 0.4);
}

.metodos-pago {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.metodo {
    padding: 10px 25px;
    border: 3px solid #010058;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.metodo:hover {
    background-color: #6563f5;
    color: white;
}

.metodo.activo {
    background-color: #010058;
    color: #fff;
}

.btn-enviar {
    background-color: #010058;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.btn-enviar:hover {
    background-color: #6563f5;
    transform: translateY(-3px);
}

/* ===== MENSAJE FINAL ===== */
.resultado {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    color: #010058;
    font-size: 1.2em;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
    .metodos-pago {
        flex-direction: column;
        gap: 10px;
    }

    .metodo {
        text-align: center;
        padding: 12px;
    }

    form {
        padding: 20px;
    }
}