* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
@font-face {
    font-family: WhiteDream;
    src: url(/recursos/tipografias/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

@font-face {
    font-family: romantic;
    src: url(/recursos/tipografias/ROMANTIC.TTF);
}

/* PALETA DE COLORES AZULES */
:root {
    --azul: #0099ff;
    --azul-hover: #33b7ff;
    --gris-suave: #eee;
    --gris-texto: #222;
}

/*----------------------------------------*/

body {
    color: #222;
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 80px;
}

/*----------------------------------------*/

#banners {
    position: relative;
    width: 100%;
}

#banners img {
    width: 100%;
    height: auto;
    display: block;
}

/*----------------------------------------*/

#contenido {
    width: 100%;
    padding: 50px 5% 50px 5%;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
}

#contenido h2 {
    font-family: WhiteDream;
    font-size: 3.2em;
    margin-bottom: 20px;
}

.perfil {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contenido img {
    width: 85%;
    border: #000 solid 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); /* mejora sutil */
}

.texto {
    width: 100%;
    text-align: justify;
}

.texto p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.texto button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.texto button:hover {
    background-color: #6563f5;
    transform: translateY(-3px);
}

/*----------------------------------------*/

#portafolio {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

.carrusel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 25s infinite;
}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    filter: brightness(0.8);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    85% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.overlay h1 {
    font-family: whiteDream;
    font-size: 3.5em;
    margin-bottom: 0.5em;
    text-shadow: 4px 4px 2px #000;
    letter-spacing: 2px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-shadow: 4px 4px 2px #000;
}

.overlay a {
    text-decoration: none;
}

.overlay button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2.2em;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.overlay button:hover {
    background-color: #6563f5;
}

#portafolio::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/*----------------------------------------*/

#testimonios {
    text-align: center;
    padding: 60px 20px;
    color: var(--gris-texto);
}

#testimonios h2 {
    color: #000;
    padding-bottom: 20px;
    font-size: 3.5em;
    font-family: WhiteDream;
}

.testimonios-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carrusel-viewport {
    width: 100%;
    overflow: hidden;
}

.testimonios-container {
    display: flex;
    transition: transform 0.5s ease;
    padding: 20px;
}

.testimonio {
    flex: 0 0 calc(33.33% - 20px);
    background: #f4f4f4;
    color: #000;
    padding: 25px;
    border-radius: 15px;
    margin: 0 10px;
    box-sizing: border-box;

    border: 2px solid var(--azul);
    box-shadow: 0 4px 10px rgba(0, 153, 255, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonio:hover {
    transform: translateY(-5px);
    background: #fff;
}

.testimonio h4{
    margin: 10px;
}

/* Flechas */
.prev,
.next {
    font-size: 5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--azul);
    z-index: 2;
    transition: 0.3s;
    padding: 0 10px;
    border-radius: 10px;
}

.prev:hover,
.next:hover {
    color: #ffffff;
    background-color: var(--azul-hover);
}


/*----------------------------------------*/

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/*----------------------------------------*/

/* ===== POPUP ===== */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9999;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    width: 75%;
    animation: fadeInUp 0.5s ease;
}

.popup-content img {
    width: 75%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popup-content h2 {
    font-family: WhiteDream;
    font-size: 3.5em;
    margin-bottom: 25px;
    color: white;
}

.popup-content p {
    margin-bottom: 25px;
    text-align: justify;
    text-decoration: none;
}

.popup-content button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-content button:hover {
    background-color: #6563f5;
}

/* Animación */
@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive*/

/* ===== TABLETS ===== */
@media (max-width: 1024px) {

    #contenido {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 40px;
    }

    #contenido img {
        width: 70%;
    }

    .texto p {
        font-size: 1.1em;
    }

    #portafolio {
        height: 380px;
    }

    .overlay h1 {
        font-size: 2.6em;
    }

    .testimonio {
        flex: 0 0 45%;
    }
}

/* ===== MOVILES MEDIANOS ===== */
@media (max-width: 768px) {

    #contenido {
        padding: 40px 5%;
    }

    #contenido h2 {
        font-size: 2.5em;
    }

    #contenido img {
        width: 80%;
    }

    .texto p {
        font-size: 1.05em;
    }

    #portafolio {
        height: 320px;
    }

    .overlay h1 {
        font-size: 2.2em;
    }

    .testimonios-wrapper {
        flex-direction: column;
    }

    .testimonio {
        flex: 0 0 90%;
        margin-bottom: 20px;
    }

    .prev, .next {
        font-size: 3rem;
    }

    .popup-content {
        width: 90%;
        padding: 20px;
    }

    .popup-content img {
        width: 100%;
    }
}

/* ===== MOVILES PEQUEÑOS ===== */
@media (max-width: 480px) {

    #contenido h2 {
        font-size: 2.1em;
    }

    .texto button {
        width: 100%;
        padding: 0.9em 0;
        font-size: 1em;
    }

    #portafolio {
        height: 260px;
    }

    .overlay h1 {
        font-size: 1.8em;
    }

    .overlay p {
        font-size: 0.9em;
    }

    .overlay button {
        padding: 0.8em 1.5em;
        font-size: 0.9em;
    }

    .testimonio {
        flex: 0 0 100%;
        margin: 10px 0;
    }

    .prev, .next {
        display: none; 
    }

    .popup-content h2 {
        font-size: 2.3em;
    }

    .popup-content p {
        font-size: 0.95em;
    }
}