#imagen-activa{
    width: 100%;
    height: auto;
}

#contenedor-principal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
}

#contenedor-interno{
    width: auto;
    height: 80%;
    border: 2px #f3f3f3 solid;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
}

#contenedor-botones{
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

button{
    font-size: 5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 2;
    transition: 0.3s;

    padding: 0 10px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    color: blue;
    background-color: white;
}

#btn-cerrar{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
}

#btn-atras{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 5.5rem;
}

#btn-adelante{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 5.5rem;
}