* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
@font-face {
    font-family: WhiteDream;
    src: url(/recursos/tipografias/WhiteDreamPERSONALUSEONLY-Regular.otf);
}

@font-face {
    font-family: romantic;
    src: url(/recursos/tipografias/ROMANTIC.TTF);
}

/*----------------------------------------*/

#logoHeader {
    width: auto;
    height: 100%;
}

/*----------------------------------------*/

body {
    color: #222;
    background-color: rgb(255, 255, 255);
}

main {
    padding-top: 80px;
}

/*----------------------------------------*/

#banners {
    position: relative;
    width: 100%;
}

#banners img {
    width: 100%;
    height: auto;
    display: block;
}

/*----------------------------------------*/

/* --- CONTENEDOR PRINCIPAL --- */
.servicios {
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.servicios h1 {
    font-family: WhiteDream;
    font-size: 3.5em;
    margin: 15px;
}

/* --- SECCIÓN DE DESCRIPCIÓN --- */
.descripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;
}

.descripcion img {
    width: 75%;
    border-radius: 12px;
    border: 2px solid #000;
    object-fit: cover;
}

.texto-servicio {
    font-size: 1.2em;
    margin-bottom: 30px;
    
    text-align: left;
}

.imagen-servicio {
    width: 100%;
}

/* --- TIPOS DE SERVICIOS --- */
.subtitulo {
    margin: 30px;
    text-align: center;
    font-family: WhiteDream;
    font-size: 3.5em;
}

#servicios_promo{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}

.backgroundPromo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.backgroundPromo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.overlay h1 {
    font-family: whiteDream;
    font-size: 3.5em;
    margin-bottom: 0.5em;
    text-shadow: 4px 4px 2px #000;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-shadow: 4px 4px 2px #000;
}

.overlay a {
    text-decoration: none;
}

.overlay button {
    background-color: #010058;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.overlay button:hover {
    background-color: #6563f5;
}

.backgroundPromo::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

